*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

body {
  font: 100%/1.4em "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  text-align: left;
  color: #444;
  -webkit-text-size-adjust: none; }

/**
 * Small Screens
 */
h1 {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1em;
  margin: 30px auto 20px; }

h2 {
  font: 1.2em Georgia, "Times New Roman", Palatino, serif; }

output {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: auto; }

figure {
  margin: 0; }

input {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  color: #222;
  font-size: 18pt;
  width: 300px;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #CCC;
  vertical-align: middle; }

button {
  padding: 13px 10px 12px;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  font-size: 18pt;
  line-height: 1em;
  background-color: #f5f5f5;
  cursor: pointer;
  border: 1px solid #CCC;
  vertical-align: middle;
  margin-top: 15px; }

footer {
  margin: 30px auto;
  text-align: center; }

.heart {
  font-style: normal;
  font-weight: 500;
  color: #c0392b;
  text-decoration: none; }

#twitter {
  position: absolute;
  top: 20px;
  left: 20px; }

#github-button {
  display: block;
  margin: 30px auto 0;
  position: relative;
  left: 40px; }

#github-ribbon {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  border: 0;
  width: 149px;
  height: 149px; }

.github-buttons {
  text-align: center;
  margin: 1em 0; }

:host {
  display: inline-block; }

.user {
  font-family: "Helvetica", Arial, sans-serif;
  display: inline-block;
  width: 265px;
  height: 300px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  background-color: #2E353C;
  text-align: center;
  color: #fff;
  font-weight: 100;
  transition: background 1000ms ease-out; }

.user dl,
.user dd {
  margin: 0; }

.user dt {
  display: none; }

.user-data {
  background: #fff url("webcomponent/github.png") no-repeat 5px 5px;
  background-size: 25px;
  height: 85px;
  border: 1px solid #D5D5D5;
  border-bottom: 0; }

dd.user-avatar {
  display: inline-block;
  margin: 20px 0 10px; }

.user-avatar img {
  border-radius: 100%;
  height: 120px;
  width: 120px;
  border: 3px solid #fff;
  vertical-align: middle;
  background-color: #fff; }

dd.user-name,
dd.user-account {
  margin: 5px 0; }

.user-name {
  font-size: 24px; }

.user-account {
  font-size: 16px;
  color: #999;
  margin: 5px 0; }

.user-stats {
  border-top: 1px groove #999;
  position: relative;
  top: 155px; }

.user-stats dd {
  padding: 10px 20px; }

.user-repos,
.user-following,
.user-followers {
  display: inline-block;
  font-size: 22px;
  color: #999; }

.user-repos:after,
.user-following:after,
.user-followers:after {
  content: attr(data-stats);
  text-transform: uppercase;
  display: block;
  font-size: 11px;
  color: #666;
  font-weight: normal;
  line-height: 1.7em; }

a.user-github-url,
a.user-repos-url,
a.user-followers-url {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */